<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="utf-8">
	</head>

	<body>
    Introduce los productos que quieras agregar a la base de datos
    <div>
	      <div>
	        Producto:
	        <input type="text" name="producto" id="producto">
	      </div>
	      <div>
	        Precio:
	        <input type="text" name="precio" id="precio">
	      </div>
				<div>
	        Descripcion:
	        <input type="text" name="descripcion" id="descripcion">
	      </div>
	      <div>
	        Departamento:
	        <input type="text" name="departamento" id="departamento">
	      </div>
				<div>
	        Stock minimo:
	        <input type="text" name="minStock" id="minStock">
	      </div>
	      <div>
	        Categoria:
	        <input type="text" name="categoria" id="categoria">
	      </div>
				<div>
					demora:
					<input type="text" id="demora"/>
				</div>
				<div>
					Imagen:
					<input type="file"/>
				</div>
    </div>

		<button id="enviar" onclick="corre()">Send</button>

	</body>
</html>
