<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>White Palace</title>

    <!-- Loading Bootstrap -->
    <link href="/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="./dist/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="./img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./css/modal-windows-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="./css/user-bar.css">
    <link rel="stylesheet" type="text/css" href="./css/products-stylesheet.css">

    <script type="text/javascript">

    window.onload = function(){
      console.log(document.cookie);
    }

    </script>
  </head>
  <body>

    <div id="contenedor">  <!-- Div contenedor -->

      <!-- _________________________________________________________________________________________________________________________________ -->

      <nav class="navbar navbar-inverse" role="navigation" id="main-bar">     <!-- Inicia la barra superior -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
           <span class="sr-only">Toggle navigation</span>
         </button>
         <a class="navbar-brand" href="#">White Palace</a>
        </div>
       <div class="collapse navbar-collapse" id="navbar-collapse-01">
         <ul class="nav navbar-nav">
           <li id="product-update"><a href="#fakelink">Agregar Productos</a></li>
         </ul>
         <div class="navbar-form navbar-right" >
             <div class="input-group">
               <input class="form-control" id="navbarInput-01" type="search" placeholder="Buscar">
               <span class="input-group-btn">
                 <button type="submit" class="btn"><span class="fui-search"></span></button>
               </span>
             </div>
             <button class="btn btn-default navbar-btn" type="button" onclick="accessMostrar()" id="access">Acceder</button>
             <button class="btn btn-default navbar-btn" type="button" onclick="regMostrar()" id="regis">Registrarse</button>
             <button class="btn btn-default navbar-btn" type="button" href="javascript:history.go(0)" id="logout" style="display:none">Salir</button>
         </div>
       </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->

    <!-- ______________________________________________________________________________________________________ -->

    <div id="secun">

        <div id='user-bar'><!-- User Bar -->
          <div class="col-lg-8 col-lg-offset-4">
              <img id="profile-photo" class="img-responsive" src="/" alt="">
              <div id="user-show-name"></div>
          </div>
        </div>

        <div id="products-container">
        	<div class="presCon">
        		<div class="interior">
        			<div class="imgCont">
     	    			<a href="#fakelink" onclick="productMostrar()">
     	    				<img class="imageInt" src="./img/66186003.jpg">
     	    			</a>
        			</div>
        			<div class="textoInt">
        				<div class="producto">
        					<strong>Producto: </strong>
        				</div>

        				<div class="precio">
        					<strong>Precio: </strong>
        				</div>

        			</div>
        		</div>
        	</div>
        </div>

    </div>
  </div>
    <!-- _________________________________________________________________________________________________________________________________________ -->

 <!--   <ul class="pagination-plain" id="pg">    Paginacion
      <li class="previous">
        <a href="#">Atras</a>
      </li>
      <li>
        <a href="#">1</a>
      </li>
      <li class="next">
        <a href="#">Siguiente</a>	  Esto se debe de agregar automaticamente cuando el numero de elementos supere cierto limite
      </li>
    </ul> -->

        <!-- ______________________________________________________________________________________________________________________________________ -->

		<div id="accessFade" class="overlay" onclick="accessOcultar()"></div>  <!-- Ventana modal para "Acceder" -->

        <div id="accessLight" class="acModal">
  				  <div style="text-align: center; margin:2px; margin-bottom: 65px;">
  				  	<h4>Entrar</h4>
  				  </div>

  				  <div style="margin:5px; margin-bottom: 20px;">
  				  	<div>
  				  		Correo Electronico:
  				  	</div>
  				  	<input type="text"  style="width:100%" id="emailAcc" placeholder="username" required="true">
  				  </div>

  			 	 <div style="margin: 5px; margin-bottom: 30px;">
  			 		  <div>
  						  Contraseña:
  					  </div>

             <input type="password" style="width:100%" id="passwordAcc" placeholder="password" required="true">

            </div>


				    <label class="checkbox primary" for="checkbox1c">
              <input type="checkbox" data-toggle="radio" value="" id="checkbox1c" required>
              Recordarme
            </label>

  				  <div style="text-align: center">
  					  <button type="button" onclick="login()" >Acceder</button>
					    <button type="button" class="btn btn-link" onclick="accessOcultar()">Salir</button>
				    </div>
  	</div>







				<!-- _____________________________________________________________________________________________________________________________-->



		<div id="regFade" class="overlay" onclick="regOcultar()"></div>		<!-- Ventana modal para "registrarse" -->
  			<div id="regLight" class="regModal">
				  <div style="text-align: center; margin:1%; margin-bottom: 5%;">
  				  <h4>Registrarse</h4>
  			  </div>

        <div style=" width:48%; margin-bottom:5%; float: left">
            <div  class="user-rg-data">
              <div>
                Nombre(s):
              </div>
              <div><input type="text" placeholder="Red" style="whidth:10%" class="form-control" id="name"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Contraseña:
              </div>
              <div><input type="password" placeholder="Contraseña" style="whidth:10%" class="form-control" id="password"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Repetir contraseña:
              </div>
              <div><input type="password" placeholder="Repetir" style="whidth:10%" class="form-control" id="rep_pass"/></div>
            </div>
        </div>

        <div style=" width:48%; margin-bottom:5%; float:right">
            <div class="user-rg-data">
              <div>
                Correo:
              </div>
              <div><input type="text" placeholder="Loquesea@...com" style="whidth:10%" class="form-control" id="email" placeholder="paleta@....com"/></div>
            </div>

        </div>

  			<div style="text-align: center; bottom: 5%; left:42%; position: static">
  				<button type="button" class="btn btn-success" id="register" onclick="register()">Registrarse</button>
			  	<button type="button" class="btn btn-link" onclick="regOcultar()">Salir</button>
				</div>
  		</div>


  				<!-- ____________________________________________________________________________________________________________________________-->

  				<!-- Ventana modal de las imagenes -->

		<div id="productFade" class="overlay"></div>
  			<div id="productLight" class="modal">
  				<div>
  					<img class="imageInt" src="./img/66186003.jpg">
  				</div>
				<p>Para "<a href="javascript:void(0)" onclick="productOcultar()">cerrar</a></p>
  	</div>

    <!-- ______________________________________________________________________________________________________________________________________ -->

<div id="pUpdateFade" class="overlay" onclick="pUpdateOcultar()"></div>  <!-- Product update modal window -->

    <div id="pUpdateLight" class="upModal">
        <div style="text-align: center; margin:2px; margin-bottom: 65px;">
          <h4>Subir un Producto</h4>
        </div>

        <div>
           <div>
             Foto:
           </div>

          <input type="file" style="width:100%" id="p-img-file" required="true" accept="image/*">

          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" id="p-img" class=""/>
          </div>

         </div>

        <div style="margin:5px; margin-bottom: 20px;">
          <div>
            Nombre del producto:
          </div>
          <input type="text"  style="width:100%" id="pName" required="true">
        </div>

       <div style="margin: 5px; margin-bottom: 30px;">
          <div>
            Descripcion:
          </div>

         <input type="text" style="width:100%" id="pDesc" required="true">

        </div>

        <div style="margin: 5px; margin-bottom: 30px;">
           <div>
             Precio:
           </div>

          <input type="text" style="width:100%" id="pPrice" required="true">

         </div>


        <div style="text-align: center">
          <button type="button" id="p-upload" >Subir</button>
          <button type="button" class="btn btn-link" onclick="pUpdateOcultar()">Salir</button>
        </div>
</div>
  				<!-- ________________________________________________________jquery-3.0.0.min.js________________________________________________________________-->

    <script src="https://unpkg.com/react@15.3.2/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js"></script>
    <script src="./dist/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="./js/session-check.js"></script>
    <script type="text/javascript" src="./js/ajax-logout.js"></script>
    <script type="text/javascript" src="./js/ajax-login.js"></script>
    <script type="text/javascript" src="./js/ajax-register.js"></script>
    <script type="text/javascript" src="./js/ajax-product-update.js"></script>
    <script src="./dist/js/flat-ui.min.js"></script>
    <script type="text/javascript" src="./JS/modal-windows.js"></script>
  </body>
</html>
