<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>White Palace</title>

    <!-- Loading Bootstrap -->
    <link href="/Flat-UI-master/dist/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="./Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet">
    <link href="./Flat-UI-master/docs/assets/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="./img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./CSS/Estilos.css">
    <script type="text/javascript" src="./JS/jquery-3.0.0.min.js"></script>

    <script type="text/javascript">

      "use strict;"
      function register(){


        let regData = {
          first_name : $("#first_name").val(),
          last_name  : $("#last_name").val(),
          email      : $("#email").val(),
          password   : $("#password").val(),
          rep_pass   : $("#rep_pass").val(),
          last_buy   : $("#last_buy").val(),
          home_num   : $("#home_num").val(),
          street     : $("#street").val(),
          suburb     : $("#suburb").val(),
          lada       : $("#lada").val(),
          phone      : $("#phone").val(),
          age        : $("#age").val(),
          gender     : $("#gender").val()
        };

        if(regData.password === regData.rep_pass){
          if(regData.gender == 'H' || regData.gender == 'M'){
            if(regData.phone.length == 7){
              $.ajax({
                type: "POST",
                url: "/register",
                data: regData,
                cache: false,
                success: function(data, status, xhr) {
                  console.log(xhr)
                  console.log(status, "The request has be");
                }
              })
            }else {
                console.log("Numero inválido");
            }
          }else{
            console.log("Género Inválido: H/M");
          }
        }else{
          console.log('Fallo en la confirmacion de la contraseña: ', regData.password + " != " + regData.rep_pass);
        }
      }

      $(function(){
        var $username = $('#emailAcc');
        var $password = $('#passwordAcc');
        var $login    = $('.js-login');

        $login.click(function(){
          var credentials = {
            username : $username.val(),
            password : $password.val()
        };

        var request = $.ajax({
          url    : '/login',
          method : 'POST',
          data   : credentials,
          success: function(data, status, xhr) {
            window.location.replace(window.location + 'home')
          }
        });
      });

    });

    </script>
  </head>
  <body>

    <div id="contenedor">  <!-- Div contenedor -->

      <!-- _________________________________________________________________________________________________________________________________ -->

      <nav class="navbar navbar-inverse" role="navigation">     <!-- Inicia la barra superior -->
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
           <span class="sr-only">Toggle navigation</span>
         </button>
         <a class="navbar-brand" href="#">White Palace</a>
        </div>
       <div class="collapse navbar-collapse" id="navbar-collapse-01">
         <ul class="nav navbar-nav">
           <li><a href="#fakelink">Categorias</a></li>
           <li><a href="#fakelink">Descuentos</a></li>
           <li><a href="#fakelink">En el carro</a></li>
           <li><a href="#fakelink">Wish List</a></li>
         </ul>
         <form class="navbar-form navbar-right" action="#" role="search">
           <div class="form-group">
             <div class="input-group">
               <input class="form-control" id="navbarInput-01" type="search" placeholder="Buscar">
               <span class="input-group-btn">
                 <button type="submit" class="btn"><span class="fui-search"></span></button>
               </span>
             </div>
             <button class="btn btn-default navbar-btn" type="button" onclick="accessMostrar()">Acceder</button>
             <button class="btn btn-default navbar-btn" type="button" onclick="regMostrar()">Registrarse</button>
           </div>
         </form>
       </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->

    <!-- ____________________________________________________________________________________________________________________________________ -->

    <div id="secun">   <!-- Contenedor de... contenidos -->

    	<div class="presCon">
    		<div class="interior">
    			<div class="imgCont">
 	    			<a href="#fakelink" onclick="productMostrar()">
 	    				<img class="imageInt" src="./img/66186003.jpg">
 	    			</a>
    			</div>
    			<div class="textoInt">
    				<div class="producto">
    					<strong>Producto: </strong>
    				</div>

    				<div class="precio">
    					<strong>Precio: </strong>
    				</div>

    			</div>
    		</div>
    	</div>

    </div>
    <!-- _________________________________________________________________________________________________________________________________________ -->

 <!--   <ul class="pagination-plain" id="pg">    Paginacion
      <li class="previous">
        <a href="#">Atras</a>
      </li>
      <li>
        <a href="#">1</a>
      </li>
      <li class="next">
        <a href="#">Siguiente</a>	  Esto se debe de agregar automaticamente cuando el numero de elementos supere cierto limite
      </li>
    </ul> -->

        <!-- ______________________________________________________________________________________________________________________________________ -->

		<div id="accessFade" class="overlay" onclick="accessOcultar()"></div>  <!-- Ventana modal para "Acceder" -->

        <div id="accessLight" class="acModal">
  				  <div style="text-align: center; margin:2px; margin-bottom: 65px;">
  				  	<h4>Entrar</h4>
  				  </div>

  				  <div style="margin:5px; margin-bottom: 20px;">
  				  	<div>
  				  		Correo Electronico:
  				  	</div>
  				  	<input type="text"  style="width:100%" id="emailAcc" placeholder="username" required="true">
  				  </div>

  			 	 <div style="margin: 5px; margin-bottom: 30px;">
  			 		  <div>
  						  Contraseña:
  					  </div>

             <input type="password" style="width:100%" id="passwordAcc" placeholder="password" required="true">

            </div>


				    <label class="checkbox primary" for="checkbox1c">
              <input type="checkbox" data-toggle="radio" value="" id="checkbox1c" required>
              Recordarme
            </label>

  				  <div style="text-align: center">
  					  <button type="button" class="js-login" >Acceder</button>
					    <button type="button" class="btn btn-link" onclick="accessOcultar()">Salir</button>
				    </div>
  	</div>







				<!-- _____________________________________________________________________________________________________________________________-->



		<div id="regFade" class="overlay" onclick="regOcultar()"></div>		<!-- Ventana modal para "registrarse" -->
  			<div id="regLight" class="regModal">
				  <div style="text-align: center; margin:1%; margin-bottom: 5%;">
  				  <h4>Registrarse</h4>
  			  </div>

        <div style=" width:48%; margin-bottom:5%; float: left">
            <div  class="user-rg-data">
              <div>
                Nombre(s):
              </div>
              <div><input type="text" placeholder="Red" style="whidth:10%" class="form-control" id="first_name"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Apellido(s):
              </div>
              <div><input type="text" placeholder="Paleta" style="whidth:10%" class="form-control" id="last_name"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Contraseña:
              </div>
              <div><input type="password" placeholder="Contraseña" style="whidth:10%" class="form-control" id="password"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Repetir contraseña:
              </div>
              <div><input type="password" placeholder="Repetir" style="whidth:10%" class="form-control" id="rep_pass"/></div>
            </div>

            <div class="user-rg-data" style="height:10%">
              <div>
                Edad:
              </div>
              <div class="btn-group" style="border-radius:10px">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  18 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="overflow:scroll; border-radius:10px"  role="menu">
                  <li>19</li>
                  <li>20</li>
                  <li>21</li>
                  <li>22</li>
                  <li>23</li>
                  <li>24</li>
                  <li>25</li>
                  <li>26</li>
                  <li>27</li>
                  <li>28</li>
                  <li>29</li>
                  <li>30</li>
                  <li>31</li>
                  <li>32</li>
                </ul>
              </div>
            </div>

            <div class="user-rg-data">
              <div>
                Genero:
              </div>
              <div><input type="text" placeholder="H/M" style="whidth:10%" class="form-control" id="gender"/></div>
            </div>
        </div>

        <div style=" width:48%; margin-bottom:5%; float:right">
            <div class="user-rg-data">
              <div>
                Correo:
              </div>
              <div><input type="text" placeholder="Loquesea@...com" style="whidth:10%" class="form-control" id="email" placeholder="paleta@....com"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Numero de casa:
              </div>
              <div><input type="text"  style="whidth:10%" class="form-control" id="home_num" placeholder="01"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Calle:
              </div>
              <div><input type="text" style="whidth:10%" class="form-control" id="street" placeholder="Calle Victoria"/></div>
            </div>

            <div class="user-rg-data">
              <div>
                Colonia:
              </div>
              <div><input type="text" style="whidth:10%" class="form-control" id="suburb" placeholder="Meseta Añil"/></div>
            </div>

            <div class="user-rg-data">
              <div style:"height: 10%">
                Lada: <div style:"whidth:90%"><input type="text" id="lada" placeholder="Lada"/></div>
                Telefono de casa: <div style:"whidth:10%"><input type="text" style="whidth:10%" id="phone" placeholder="Numero"/></div>
              </div>

            </div>

        </div>

  			<div style="text-align: center; bottom: 5%; left:42%; position: static">
  				<button type="button" class="btn btn-success" id="register" onclick="register()">Registrarse</button>
			  	<button type="button" class="btn btn-link" onclick="regOcultar()">Salir</button>
				</div>
  		</div>


  				<!-- ____________________________________________________________________________________________________________________________-->

  				<!-- Ventana modal de las imagenes -->

		<div id="productFade" class="overlay"></div>
  			<div id="productLight" class="modal">
  				<div>
  					<img class="imageInt" src="./img/66186003.jpg">
  				</div>
				<p>Para "<a href="javascript:void(0)" onclick="productOcultar()">cerrar</a></p>
  	</div>

  				<!-- ________________________________________________________jquery-3.0.0.min.js________________________________________________________________-->

    <script src="./Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <script src="./Flat-UI-master/dist/js/vendor/video.js"></script>
    <script src="./Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="./Flat-UI-master/docs/assets/js/application.js"></script>
    <script type="text/javascript" src="./Flat-UI-master/MooTools-Core-1.6.0.js"></script>
    <script type="text/javascript" src="./JS/modales.js"></script>
  </body>
</html>
